{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
  {% include "projetos/sidebar.html" %}

  <div class="content">
    
    <a href="{% url 'novo_projeto' %}" class="botao-novo">+ Novo Projeto</a>
    <h2>Meus Projetos</h2>
    <ul>
      {% for projeto in projetos %}
        <li>
          <a href="{% url 'detalhes_projeto' projeto.id %}">
            {{ projeto.nome }}
          </a>
        </li>
      {% empty %}
        <li>Nenhum projeto encontrado.</li>
      {% endfor %}
    </ul>
  </div>

  <script src="{% static 'script/script.js' %}"></script>
{% endblock %}
