.btn:hover {
    background-color: #a30a0a;
}
.principal nav a:hover {
    background-color: #a30a0a;
    color: #fff;
}

/*SIDEBAR*/
.sidebar a:hover {
    /*background-color: #dfd7cb;
    color: rgb(78, 3, 3);*/
    font-size: 18px;
}

.sidebarBottom a:hover{
    font-size: 12px;
}
/**/
footer a:hover{
    text-decoration:underline;
    font-weight: bold;
}
/*BOTÕES ADD DEPARTAMENTOS*/
