<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sessão</title>
    <link rel="stylesheet" href="/style/style.css">
    <style>
        body{
            background-image: url(/static/background.png);
            background-size: 100%;
            background-repeat: no-repeat;
        }
    </style>
</head>

<body>
    <div class="container">
        <form action="#">
            <h2>Iniciar Sessão</h2>
            <input type="text" placeholder="Nome de Usuário ou Email"><br><br>
            <input type="password" placeholder="Senha"><br><br>
            <button>Iniciar Sessão</button><br>
        </form>
        <a href="/views/auth/registro.html">Ainda não tem uma conta ? <br>crie uma aqui</a>
    </div>
    <footer></footer>
</body>

</html>