<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/style/style.css">
    <style>
        body{
            background-image: url(/static/background.png);
            background-size: 100%;
            background-repeat: no-repeat;
        }
    </style>
</head>

<body>
    <div class="container">
        <form action="#">
            <h2>Registrar novo usuário</h2>
            <input type="text" placeholder="Nome de Usuário" required><br><br>
            <input type="email" placeholder="Email"><br><br>
            <input type="password" placeholder="Senha" required><br><br>
            <input type="password" placeholder="Confirme a senha" required><br><br>
            <button>Registrar</button><br>
        </form>
        <a href="/views/auth/login.html">Já tem uma conta ? <br>inicie sessão aqui</a>
    </div>
    <div class="info-rodape">
        <p>Todos direitos reservados a Transfortech</p>
    </div>
</body>

</html>