<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PMO - Inicio</title>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/hover.css">
</head>

<body>
    <div class="sidebar">
        <img class="icon" src="/static/logo caf.png" alt="logotipo ou nome da empresa">
        <a href="#">Dashboard</a>
        <a href="/views/criarProjeto.html">Criar Projeto</a>
        <a href="/views/meusProjetos.html">Meus Projetos</a>
        <a href="/views/definicoes.html">Definições</a>
        <div class="sidebarBottom">
            <a href="#"><img src="/static/icon/help.png" alt=""></a>
        </div>
        <div class="info-rodape">
            <p>Todos direitos reservados a Transfortech</p>
        </div>
    </div>
    <div class="content">
        <!--Aqui vai ser exibido o conteúdo principal.-->
        <nav>
            <h1>Bem-vindo a Dashboard ${{ user }} </h1>
            <p id="hour">hora:</p>
        </nav>
        <section class="sec-pri" id="sec-pri">
            <!-- LISTAR PROJETOS E SUAS TAREFAS NA DESCRIÇÃO -->
            <div class="projeto">
                <h3>Branding</h3>
                <p class="responsavel">👤 Seth Lussueki</p>
                <p class="deadline">🗓️ Até: 20/12/2025</p>

                <select>
                    <option>Pendente</option>
                    <option>Em Andamento</option>
                    <option>Concluído</option>
                </select>
                <!-- <div class="progresso">
                    <input type="text">
                </div> -->
                <div class="botoes">
                    <button class="ver" onclick="abrirModal()">Ver mais...</button>
                </div>
            </div>
            <!-- Modal -->
            <div id="modalProjeto" class="modal">
                <div class="modal-content">
                    <span class="fechar" onclick="fecharModal()">&times;</span>
                    <h2>Detalhes do Projeto: Branding</h2>
                    <p><strong>Responsável:</strong> Seth Lussueki</p>
                    <p><strong>Data de criação:</strong> 01/09/2025</p>
                    <p><strong>Prazo final:</strong> 20/12/2025</p>
                    <p><strong>Tarefas:</strong></p>
                    <!-- Listar tarefas -->
                    <ul>
                        <li>📌 Criar logotipo</li>
                        <li>📌 Definir paleta de cores</li>
                        <li>📌 Criar manual de identidade visual</li>
                    </ul>
                    <div class="botoes">
                        <input type="text" placeholder="Adicionar tarefa"> <button>Adicionar</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="/script/script.js"></script>
</body>

</html>