<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PMO - Definições</title>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/hover.css">
</head>

<body>
    <div class="content">
        <!--Aqui vai ser exibido o conteúdo principal.-->
        <nav>
            <h1>Definições</h1>
        </nav>
        <section class="auth">
            
        </section>
    </div>
</body>

</html>