<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PMO - Meus Projetos</title>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/hover.css">
</head>

<body>
    <div class="content">
        <!--Aqui vai ser exibido o conteúdo principal.-->
        <nav>
            <h1>Meus Projetos </h1>
            <p id="hour">hora:</p>
        </nav>
        <section>
           <!-- LISTAR TODOS PROJETOS ATIVOS -->
            <div class="projeto">
                <h3>Branding</h3>
                <p class="responsavel">👤 Seth Lussueki</p>
                <p class="deadline">🗓️ Até: 20/12/2025</p>

                <select>
                    <option>Pendente</option>
                    <option>Em Andamento</option>
                    <option>Concluído</option>
                </select>
                <!-- <div class="progresso">
                    <input type="text">
                </div> -->
                <div class="botoes">
                    <button class="ver" onclick="abrirModal()">Ver mais...</button>
                </div>
            </div>
            <!-- SUGIRO ADICIONAR POSSIBILIDADE DE APAGAR PROJETOS AQUI -->
        </section>
    </div>
    <script src="/script/script.js"></script>
</body>

</html>