<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Intranet PMO</title>
</head>
<body>
  <nav>
    {% if user.is_authenticated %}
      <div>
        <p id="hour" ></p><span>  {{ user.username }} |</span>
      </div>
    {% endif %}
    <div class="link">
      <a href="{% url 'dashboard' %}">Casa</a>
      <a href="{% url 'sobre' %}" >Sobre</a>
      <a href="{% url 'faqs' %}" >FAQs</a>
      <a href="{% url 'contactos' %}" >Contactos</a>
      <a href="{% url 'logout' %}">🚪 Sair</a>
    </div>

  </nav>

  {% block content %}{% endblock %}
</body>
</html>

<style>
  *{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  body{
    background-color:#dfd7cb;
  }
  nav{
    display:flex;
    background:#002;
    padding:1%;
    color:#fff;
    width:100%;
  }
  nav a{
    color:#fff;
  }
  nav div{
    flex:70;
    display:flex;
  }
  nav .link{
    flex:30;
  }
  .link a{
    margin-left:5%;
    text-decoration:none;
  }
</style>

<script>

  const turno = () =>{
            const date = new Date();
            let hora = date.getHours()
            let minuto = date.getMinutes()
            let segundo = date.getSeconds()
            {% comment %} document.getElementById("hour").innerHTML=`${hora}:${minuto}:${segundo}` {% endcomment %}
            if(hora < 12){
              document.getElementById("hour").innerHTML="Bom dia, "
            }
            else if(hora >= 12 && hora < 18){
              document.getElementById("hour").innerHTML="Boa tarde, "
            }
            else if(hora >= 18){
              document.getElementById("hour").innerHTML="Boa noite, "
            }
          }
        turno()

</script>