<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Intranet PMO</title>
</head>
<body>
  <nav>
    {% if user.is_authenticated %}
      <p>Olá, {{ user.username }} | </p>
    {% endif %}
    <div class="link">
      <a href="{% url 'sobre' %}" >Sobre</a>
      <a href="{% url 'faqs' %}" >FAQs</a>
      <a href="{% url 'contactos' %}" >Contactos</a>
      <a href="{% url 'logout' %}">Sair</a>
    </div>

  </nav>

  {% block content %}{% endblock %}
</body>
</html>

<style>
  *{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  body{
    background-color:#dfd7cb;
  }
  nav{
    display:flex;
    background:#002;
    padding:1%;
    color:#fff;
  }
  nav a{
    color:#fff;
  }
  nav p{
    flex:80;
  }
  nav .link{
    flex:20;
  }
  .link a{
    margin-left:5%;
    text-decoration:none;
  }
</style>
