<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Intranet PMO</title>
</head>
<body>
  <nav>
    {% if user.is_authenticated %}
      <p>Olá, {{ user.username }} | <a href="{% url 'logout' %}">Sair</a></p>
    {% endif %}

  </nav>

  {% block content %}{% endblock %}
</body>
</html>

<style>
  *{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  nav{
    background:#002;
    padding:1%;
    color:#fff;
  }
  nav a{
    color:#fff;
  }
</style>
